<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Lista de empleados</h1>
    <div id="lista-empleados"></div>
    <button id="agregar-empleado">Insertar</button>

    <div id="modal-agregar">
        <div class="modal-content">
            <h2>Insertar Empleado</h2>
            <form id="form-insertar">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre_input" name="nombre">
                <label for="salario">Salario:</label>
                <input type="text" inputmode="decimal" id="salario_input" name="salario" pattern="[0-9]+([\.,]\d{1,2})?" title="Ingrese un número válido (ej: 10000 o 10000.50)">
                <button id="insertar-modal">Insertar</button>
                <button id="regresar-modal">Regresar</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>  
</body>
</html>